<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<title>헤더</title>
</head>

<body>
	<div th:fragment="header" class="header">
		<a href="/" class="logo-link">
			<div class="logo">
				MATCHERS
			</div>
		</a>

		<div class="nav-login-wrapper">
			<ul class="nav">
				<li><a href="/">홈</a></li>
				<li><a href="/">견적요청</a></li>
				<li><a href="/">전문가 찾기</a></li>
				<li><a href="/">커뮤니티</a></li>
				<th:block sec:authorize="hasRole('ROLE_USER')">
					<li><a href="/user/mypage">마이페이지</a></li>
				</th:block>
			</ul>

			<th:block sec:authorize="isAnonymous()">
				<div class="auth-buttons">
					<a href="/login" class="btn">로그인</a>
				</div>
			</th:block>

			<th:block sec:authorize="isAuthenticated()">
				<ul class="nav">
					<li>
						<form action="/logout" method="post">
							<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
							<button type="submit" class="btn">로그아웃</button>
						</form>
					</li>
					<th:block sec:authorize="!hasAnyRole('ROLE_EXPERT', 'ROLE_ADMIN')">
						<li>
							<button class="btn" onclick="location.href='/user/expert/register'">전문가 등록</button>
						</li>
					</th:block>
				</ul>
			</th:block>
		</div>
	</div>

</body>

</html>