<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.kosa.community.mapper.CommunityBoardMapper">

    <resultMap type="kr.or.kosa.user.dto.Users" id="usersMap">
        <id property="userId" column="USER_ID"/>
        <result property="email" column="EMAIL"/>
        <result property="nickname" column="NICKNAME"/>
    </resultMap>
    
	<resultMap type="kr.or.kosa.board.dto.Board" id="boardMap">
	    <id property="postId" column="POST_ID"/>
	    <result property="title" column="TITLE"/>
	    <result property="content" column="CONTENT"/>
	    <result property="createdAt" column="CREATED_AT"/>
	    <result property="userNickname" column="USER_NICKNAME"/>
	    <result property="userId" column="USERID"/>
	</resultMap>		

    <resultMap type="kr.or.kosa.community.dto.CommunityBoard" id="communityBoardMap">
        <id property="postId" column="POST_ID" />
        <result property="lastUpdatedAt" column="LAST_UPDATED_AT"/>
        <result property="views" column="VIEWS"/>
	    <result property="userNickname" column="USER_NICKNAME"/>
	    <result property="userId" column="USERID"/>
        <association property="board" resultMap="boardMap"/>
        <association property="users" resultMap="usersMap"/>
    </resultMap>

    <select id="getPostList" resultMap="communityBoardMap">
		SELECT 
		    b.POST_ID, 
		    b.TITLE, 
		    b.CONTENT, 
		    b.CREATED_AT, 
		    b.USERID,
		    u.EMAIL,
		    u.NICKNAME,
		    cb.LAST_UPDATED_AT, 
		    cb.VIEWS
		FROM BOARD b
		LEFT JOIN COMMUNITY_BOARD cb ON b.POST_ID = cb.POST_ID
		LEFT JOIN USERS u ON b.USERID = u.USER_ID
		WHERE cb.POST_ID = b.POST_ID
		ORDER BY b.POST_ID DESC
    </select>
  
    <select id="getPostbyId" parameterType="Long" resultMap="communityBoardMap">
		SELECT 
		    b.POST_ID, 
		    b.TITLE, 
		    b.CONTENT, 
		    b.CREATED_AT,
		    b.USERID,
		    u.EMAIL,
		    u.NICKNAME,
		    cb.LAST_UPDATED_AT, 
		    cb.VIEWS
		FROM BOARD b
		LEFT JOIN COMMUNITY_BOARD cb ON b.POST_ID = cb.POST_ID
		LEFT JOIN USERS u ON b.USERID = u.USER_ID
		WHERE cb.POST_ID = b.POST_ID AND cb.POST_ID = #{post_id}
    </select>
	
	<insert id="insertPost" parameterType="kr.or.kosa.community.dto.CommunityBoard">
		<selectKey order="BEFORE" keyProperty="boardSeq" resultType="Long">
			SELECT BOARD_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT ALL
		INTO BOARD (POST_ID, TITLE, CONTENT, CREATED_AT, USER_NICKNAME, USERID)
		VALUES (#{boardSeq}, #{title}, #{content}, SYSDATE, #{userNickname}, #{userId})
		INTO COMMUNITY_BOARD (POST_ID, LAST_UPDATED_AT, VIEWS)
		VALUES(#{boardSeq}, SYSDATE, 100)
		SELECT * FROM DUAL		
	</insert>

	<update id="updatePost" parameterType="kr.or.kosa.community.dto.CommunityBoard">
		UPDATE COMMUNITY_BOARD 
		SET 
		    LAST_UPDATED_AT = SYSDATE
		WHERE POST_ID = #{postId}
	</update>

	<delete id="deletePost" parameterType="Long">
	    DELETE FROM COMMUNITY_BOARD
	    WHERE POST_ID = #{postId}
	</delete>
	
</mapper>