<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.kosa.mapper.ExpertMapper">

	<resultMap id="locationMap" type="kr.or.kosa.expert.dto.Location">
		<id property="locationId" column="LOCATION_ID" />
		<result property="city" column="CITY" />
		<result property="district" column="DISTRICT" />
	</resultMap>

	<resultMap id="categoryMap" type="kr.or.kosa.expert.dto.Category">
		<id property="categoryId" column="CATEGORY_ID" />
		<result property="name" column="NAME" />
	</resultMap>

	<insert id="expertInfoReg">
		INSERT INTO EXPERT (USER_ID, CAREER)
		VALUES (#{userId}, #{career})
	</insert>

	<update id="userInfoUpdate">
		UPDATE USERS
		SET NICKNAME = #{nickname}, PROFILE_IMG = #{profileImg}, UPDATED_AT =
		SYSDATE
		WHERE USER_ID = #{userId}
	</update>

	<insert id="expertLocReg">
		INSERT INTO EXPERT_LOCATION (USER_ID, LOCATION_ID)
		SELECT #{userId}, LOCATION_ID
		FROM LOCATION
		WHERE DISTRICT = #{location}
	</insert>

	<insert id="expertCtgReg">
		INSERT INTO EXPERT_CATEGORY (USER_ID, CATEGORY_ID)
		SELECT #{userId}, CATEGORY_ID
		FROM CATEGORY
		WHERE NAME = #{category}
	</insert>

	<insert id="expertLcsReg">
		INSERT INTO EXPERT_LICENSE (LICENSE_ID, NAME, PATH, USER_ID)
		VALUES (EXPERT_LICENSE_SEQ.NEXTVAL, #{name}, #{path}, #{userId})
	</insert>

	<select id="getLocationList" resultMap="locationMap">
		SELECT LOCATION_ID, CITY, DISTRICT
		FROM LOCATION
	</select>

	<select id="getCategoryList" resultMap="categoryMap">
		SELECT CATEGORY_ID, NAME
		FROM CATEGORY
	</select>

</mapper>