<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.kosa.mapper.UserMapper">

	<resultMap type="kr.or.kosa.user.dto.Users" id="userMap">
		<id property="userId" column="USER_ID" />
		<result property="email" column="EMAIL" />
		<result property="password" column="PASSWORD" />
		<result property="nickname" column="NICKNAME" />
		<result property="profileImg" column="PROFILE_IMG" />
		<result property="provider" column="PROVIDER" />
		<result property="providerId" column="PROVIDER_ID" />
		<result property="enabled" column="ENABLED" />
		<result property="createdAt" column="CREATED_AT" />
		<result property="updatedAt" column="UPDATED_AT" />
		<result property="isDeleted" column="IS_DELETED" />

		<collection property="authList" resultMap="authMap"></collection>
	</resultMap>

	<resultMap type="kr.or.kosa.user.dto.UserAuth" id="authMap">
		<result property="userId" column="USER_ID" />
		<result property="authority" column="AUTHORITY" />
	</resultMap>

	<select id="getUserId">
		SELECT USER_ID
		FROM USERS
		WHERE EMAIL = #{email}
	</select>

	<select id="emailExists">
		SELECT COUNT(*) FROM USERS WHERE EMAIL = #{email}
	</select>

	<select id="login" resultMap="userMap">
		SELECT U.USER_ID, U.EMAIL, U.PASSWORD, U.NICKNAME, U.ENABLED,
		U.PROFILE_IMG, A.USER_ID,
		A.AUTHORITY
		FROM USERS U
		LEFT JOIN USER_AUTH A
		ON U.USER_ID = A.USER_ID
		WHERE U.EMAIL = #{email}
	</select>

	<insert id="signUp" parameterType="kr.or.kosa.user.dto.Users">
		INSERT INTO USERS (USER_ID, EMAIL, PASSWORD, NICKNAME)
		VALUES (USER_SEQ.NEXTVAL, #{email},
		#{password}, #{nickname})
	</insert>

	<insert id="insertSocialUser" parameterType="kr.or.kosa.user.dto.Users">
		INSERT INTO USERS (USER_ID, EMAIL, PASSWORD, NICKNAME, PROVIDER,
		PROVIDER_ID)
		VALUES (USER_SEQ.NEXTVAL, #{email},
		#{password}, #{nickname}, #{provider}, #{providerId})
	</insert>

	<insert id="addAuth" parameterType="kr.or.kosa.user.dto.UserAuth">
		INSERT INTO USER_AUTH (USER_ID, AUTHORITY)
		VALUES (#{userId}, #{authority})
	</insert>


</mapper>